
/* animate the transition so it will grow and shrink gradually */
#packages .col * {
    transition: transform 0.3s ease-in-out;
}
/* when hovering over a package, grow all of its contents slightly */
#packages .col:hover * {
    transform: scale(1.1);
}
#packages .col-1-3:hover * {
    transform: scale(1.05);
}

/* container for the overlap spans which cover the bottom 48px of this container
   with a semi-transparent bg and some text*/
.overlay-img {
    position: relative;
    display: inline-block;
}
/* This span containing the overlaid text, absolutely positioned to the bottom
   of the container */
span.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #08244fa3;
    border-radius: 0px 0px 6px 6px;
    font-size: 48px;
}

.offer {
    margin: 24px 0px;
}
/* put a bottom border and padding below all offers except the last one */
.offer:not(:last-of-type) {
    /* border-bottom: 2px solid #FFF; */
    padding-bottom: 20px;
}

/* The buttons in the packages section */
a.price {
    background-color: #73d88d;
}
a.price:hover {
    background-color: #165727;
}
/* smaller text indicating prices start at these values but can go higher */
.starting_at {
    font-size: 14px;
    line-height: 30px;
    display: block;
}
