/* the rides-list is a grid that on bigger screens has 3 columns, each takking up one frame of the available space for them */
.rides-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
}

/* make all elements with class col that are found in the rides element to have display flex and align text and button to start */
.ride {
  display: flex;
  flex-wrap: wrap;
  /* the direction in which the elements inside the flex container are stacked */
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  text-align: start;
  width: 100%;
  height: 100%;
}

.ride-title {
  /* title of the ride has 5px margin for top and bottom and 0 on the sides */
  margin: 5px 0;
}

.ride-description {
  /* set description margins to 10px for bottom and 0 for the rest for better visibility */
  margin: 0 0 10px 0;
}

/* specify btn-medium is a block element so text can be alligned in the center */
#rides .btn-medium {
  display: block;
  text-align: center;
}

/* lower the brightness of the images and set transition to 1 second */
#rides img {
  transition-duration: 0.3s;
}

/* when hovering over an image brightness will go to 100% and image will be bigger in 1 second */
#rides .ride:hover img {
  filter: brightness(1.25);
  transform: scale(1.03);
}

.modal {
  /* initially the modal element is hidden, but the show class is added on button click */
  visibility: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  text-align: start;
  /* position the element relative to the viewport, so it stays in place when scrolling */
  position: fixed;
  /* move the element 50% from the top and left sides of the screen */
  top: 50%;
  left: 50%;
  /* move the element based on its size in order to center it */
  transform: translate(-50%, -50%);
  padding: 20px;
  border-radius: 6px;
  width: 50%;
  height: 50%;
  background: #0ce7ff;
  z-index: 20;
}

/* make the background opaque when modal is opened */
#modal::after {
  position: fixed;
  content: "";
  /* set top and left properties to -50% in order to cover the whole screen */
  top: -50%;
  left: -50%;
  /* make the element have the whole screen's width and height */
  width: 100vw;
  height: 100vh;
  /* set the opacity */
  background: rgba(0, 0, 0, 0.5);
  /* set the z index to a negative value in order to be behind the modal */
  z-index: -2;
}

.show {
  visibility: visible;
}

.modal-info {
  color: #fff;
}

.close-btn {
  cursor: pointer;
}

/* change the styling if the screen is smaller than 768px */
@media (max-width: 768px) {
  .rides-list {
    grid-template-columns: repeat(1, 1fr);
  }
  .ride-title {
    font-size: 20px;
  }
  .ride-description {
    font-size: 15px;
  }
  .modal {
    padding: 10px;
  }
  .modal-info,
  .close-btn {
    font-size: 15px;
  }
}
