body {
  font-family: Arial, sans-serif;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  padding-bottom: 70px;
  background-color: #f0f0f0;
  background-image: url(../images/tunnel.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: #FFF;
}

header {
  background-color: rgb(11, 92, 89, 0.5);
  color: white;
  padding: 20px 0;
}

nav ul {
  list-style-type: none;
  text-align: center;
}

nav ul li {
  display: inline-block;
  margin-right: 20px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 44px;
  position: relative;
  padding-bottom: 10px
}

nav ul li a::after {
  content: '';
  background-color: #35e2f6;
  height: 10px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  transform: scaleX(0);
  text-decoration: underline;
  transform-origin: bottom center;
  transition: transform 0.2s ease-out;
}
nav ul li a:hover::after { 
  transform: scaleX(1);
}

section {
  padding: 20px;
  text-align: center;
  background-color: rgba(5, 49, 107, 0.7);
  margin:  20px 0px;
  border-radius: 20px;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.container, .container-fluid {
    width: 100%;
    padding-right: 50px;
    padding-left: 50px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}